li {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 180px;
    height: 200px;
    border-style: dashed;
    margin: 0px 16px 16px 0px;
    box-shadow: aqua;

}

.id {

    position: absolute;
    right: 4px;
    top: 2px;
}
.name {

    font-size: 2em;
    text-align: center;
    flex: 1;
    justify-content: center;
    display: flex;
    border-style: dotted;
    flex-direction: column;

}

.button{
   justify-content: center;
    width: 100px;
    height: 30px;
    display: flex;
    /* flex-direction: row; */
}

.container {
    display: flex;
    flex-direction: row;
}


.green {

    background-color: aquamarine;
}
.blue {

    background-color: blueviolet;
}
